<a href="https://colab.research.google.com/github/narender5162/DSPROJECT/blob/main/DSPROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/narender5162/DSPROJECT.git

Cloning into 'DSPROJECT'...
remote: Enumerating objects: 24, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 24 (delta 10), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (24/24), 22.40 KiB | 5.60 MiB/s, done.
Resolving deltas: 100% (10/10), done.

In [1]:
#importing library
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from plotly import express as px

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import pandas as pd

# Correct file path
file_path = '/content/drive/MyDrive/data set destinations .csv'

# Load the dataset
data = pd.read_csv(file_path, encoding='latin1')

In [18]:
# Display the first few rows
print(data.head())

  Destination    Region Country Category   Latitude  Longitude  \
0        Rome     Lazio   Italy     City  41.902782  12.496366
1    Florence   Tuscany   Italy     City  43.769581  11.255772
2      Venice    Veneto   Italy     City  45.435559  12.336196
3       Milan  Lombardy   Italy     City  45.464643   9.188540
4      Naples  Campania   Italy     City  40.851330  14.254720

  Approximate Annual Tourists Currency Majority Religion  \
0                  14 million     Euro    Roman Catholic
1                  10 million     Euro    Roman Catholic
2                  10 million     Euro    Roman Catholic
3                   7 million     Euro    Roman Catholic
4                   5 million     Euro    Roman Catholic

                   Famous Foods Language  \
0          Pizza, Pasta, Gelato  Italian
1          Pizza, Pasta, Gelato  Italian
2          Pizza, Pasta, Gelato  Italian
3  Risotto, Ossobuco, Panettone  Italian
4         Pizza, Pasta, Cannoli  Italian

                      Best Time to Visit Cost of Living  \
0  Spring (April-May) or Fall (Sept-Oct)    Medium-high
1  Spring (April-May) or Fall (Sept-Oct)    Medium-high
2  Spring (April-May) or Fall (Sept-Oct)    Medium-high
3  Spring (April-May) or Fall (Sept-Oct)           High
4  Spring (April-May) or Fall (Sept-Oct)         Medium

                                          Safety  \
0  Generally safe, but watch out for pickpockets
1  Generally safe, but watch out for pickpockets
2  Generally safe, but watch out for pickpockets
3  Generally safe, but watch out for pickpockets
4    Generally safe, but be aware of pickpockets

                               Cultural Significance  \
0  The capital city, known for its historical lan...
1  A Renaissance city famous for its art, archite...
2  A unique city built on canals, known for its g...
3  A fashion capital known for its shopping, muse...
4  A vibrant city known for its delicious food, h...

                                         Description
0  A hub of ancient history and modern culture, w...
1  Home to world-class museums, including the Uff...
2  An iconic city of water, renowned for romantic...
3  A modern city with an ancient soul, featuring ...
4  Famous for pizza, Pompeii, and proximity to th...

In [20]:
# Display the last few rows
print(data.tail())

           Destination          Region Country        Category   Latitude  \
204           Kopaonik  Central Serbia  Serbia  Mountain Range  43.575278
205  Novi Sad Fortress        Novi Sad  Serbia        Fortress  45.263333
206   Sremski Karlovci       Vojvodina  Serbia            Town  45.263333
207           Subotica     North Backa  Serbia            City  46.083333
208     Vrnja?ka Banja           Ra?ka  Serbia        Spa Town  43.519722

     Longitude Approximate Annual Tourists             Currency  \
204  20.760556                     100,000  Serbian dinar (RSD)
205  19.846667                      50,000  Serbian dinar (RSD)
206  19.846667                      25,000  Serbian dinar (RSD)
207  18.966667                      20,000  Serbian dinar (RSD)
208  20.851389                      10,000  Serbian dinar (RSD)

    Majority Religion                Famous Foods            Language  \
204  Serbian Orthodox  ?evapi, Pljeskavica, Sarma             Serbian
205  Serbian Orthodox  ?evapi, Pljeskavica, Sarma             Serbian
206  Serbian Orthodox  ?evapi, Pljeskavica, Sarma             Serbian
207  Serbian Orthodox  ?evapi, Pljeskavica, Sarma  Serbian, Hungarian
208  Serbian Orthodox  ?evapi, Pljeskavica, Sarma             Serbian

                                    Best Time to Visit Cost of Living  \
204  Winter (December-March) for skiing, Summer (Ju...    Medium-high
205                                         Year-round           Free
206               Spring (April-May) or Fall (Sep-Oct)         Medium
207               Spring (April-May) or Fall (Sep-Oct)         Medium
208                                         Year-round    Medium-high

             Safety                              Cultural Significance  \
204  Generally safe  A popular ski resort area in the winter, offer...
205  Generally safe  A historic fortress overlooking the Danube Riv...
206  Generally safe  A historic town known for its vineyards, winer...
207  Generally safe  A city on the border with Hungary, known for i...
208  Generally safe  A spa town known for its mineral waters, therm...

    Description
204         NaN
205         NaN
206         NaN
207         NaN
208         NaN

In [28]:
#
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Destination                  209 non-null    object
 1   Region                       209 non-null    object
 2   Country                      209 non-null    object
 3   Category                     209 non-null    object
 4   Latitude                     209 non-null    float64
 5   Longitude                    209 non-null    float64
 6   Approximate Annual Tourists  209 non-null    object
 7   Currency                     209 non-null    object
 8   Majority Religion            209 non-null    object
 9   Famous Foods                 209 non-null    object
 10  Language                     209 non-null    object
 11  Best Time to Visit           209 non-null    object
 12  Cost of Living               209 non-null    object
 13  Safety                       209 non-null    object
 14  Cultural Significance        209 non-null    object
 15  Description                  159 non-null    object
dtypes: float64(2), object(14)
memory usage: 26.2+ KB
None

In [31]:
# Display the column names to identify unwanted columns
data.columns

Index(['Destination', 'Region', 'Country', 'Category', 'Latitude', 'Longitude',
       'Approximate Annual Tourists', 'Currency', 'Majority Religion',
       'Famous Foods', 'Language', 'Best Time to Visit', 'Cost of Living',
       'Safety', 'Cultural Significance', 'Description'],
      dtype='object')

In [33]:
 #Check for missing values in the dataset
missing_values = data.isnull().sum()

missing_values

Destination                     0
Region                          0
Country                         0
Category                        0
Latitude                        0
Longitude                       0
Approximate Annual Tourists     0
Currency                        0
Majority Religion               0
Famous Foods                    0
Language                        0
Best Time to Visit              0
Cost of Living                  0
Safety                          0
Cultural Significance           0
Description                    50
dtype: int64

In [35]:
# Dropping non-essential columns for this analysis
columns_to_drop = ['Description']  # Drop this due to missing values and qualitative nature
cleaned_data = data.drop(columns=columns_to_drop)

In [36]:
 #Verify the remaining columns
cleaned_data.columns

Index(['Destination', 'Region', 'Country', 'Category', 'Latitude', 'Longitude',
       'Approximate Annual Tourists', 'Currency', 'Majority Religion',
       'Famous Foods', 'Language', 'Best Time to Visit', 'Cost of Living',
       'Safety', 'Cultural Significance'],
      dtype='object')